asgiref==3.4.1
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
Cython==0.29.23
decorator==5.0.5
defusedxml==0.7.1
distlib==0.3.1
Eel==0.12.4
entrypoints==0.3
fastapi==0.70.0
filelock==3.0.12
flatbuffers==1.12
fsspec==2021.6.0
future==0.18.2
gast==0.4.0
h11==0.12.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
numpy==1.19.5
py==1.10.0
pydantic==1.8.2
scikit-learn==0.24.1
Send2Trash==1.5.0
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.1
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.15.0
zope.event==4.5.0
zope.interface==5.4.0
